/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* акцент #2196F3 */
/* белый #FFFFFF */
/* контакты в футере rgba(255, 255, 255, 0.6); */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --button-bg-color: #f5f4fa;
}

body {
  background-color: #ffffff;
  color: var(--primiry-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
/* HEADER */
.header-contact .contact-list,
.header-nav .contact-list,
.logo-header {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contact .contact-list {
  color: #757575;
}

.header-nav .contact-list {
  color: var(--primary-text-color);
}

.contact-list:focus,
.contact-list:hover {
  color: var(--accent-color);
}

.list {
  list-style: none;
}
